<html>
  <head>
    <title>Learn Vue.js 😎</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="https://use.typekit.net/awg7evr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <div id="app" class="app">
      <div class="card">
        <h1 class="card-title">New Account</h1>
        <label class="field-label" :class="{ 'is-valid': usernameIsValid, 'is-invalid': !usernameIsValid }">
          Username
          <input v-model="username" type="text" class="field-input" autocapitalize="off" />
          <div class="field-input-error"><img src="../shared/img/cross.svg"></div>
          <div class="field-input-success"><img src="../shared/img/check.svg"></div>
          <div class="field-input-focus"></div>
        </label>
        <div class="field-feedback">{{ usernameTakenMessage }}</div>
        <label class="field-label" :class="{ 'is-valid': passwordIsValid, 'is-invalid': !passwordIsValid }">
          Password
          <input v-model="password" type="password" class="field-input" />
          <div class="field-input-error"><img src="../shared/img/cross.svg"></div>
          <div class="field-input-success"><img src="../shared/img/check.svg"></div>
          <div class="field-input-focus"></div>
        </label>
        <div class="field-feedback">{{ passwordStrengthMessage }}</div>
        <div class="strength-meter"></div>
        <div class="strength-pointer" :style="`transform:translateX(${passwordStrengthPercentage}%)`"></div>
        <menu class="field-actions">
          <button class="field-submit">Sign Up</button>
        </menu>
      </div>
      <div class="instructions">
        Enter <code>bill</code>, <code>sally</code>, <code>petunia</code>, or <code>gregory</code> to see a taken username.
      </div>
    </div>

    <!-- Link to Vue framework — goes at end of <body> -->
    <script src="../shared/js/vue.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          username: '',
          password: ''
        },
        computed: {
          usernameTakenMessage: function () {
            if (this.username === 'bill' || this.username === 'sally' || this.username === 'petunia' || this.username === 'gregory') {
              return 'Username taken';
            }
            else {
              return '';
            }
          },
          usernameIsValid: function () {
            if (this.username === 'bill' || this.username === 'sally' || this.username === 'petunia' || this.username === 'gregory') {
              return false;
            }
            else {
              return true;
            }
          },
          passwordStrengthMessage: function () {
            if (this.password.length === 0) {
              return '';
            }
            if (this.password.length >= 1 && this.password.length <= 5) {
              return 'Weak';
            }
            if (this.password.length >= 6 && this.password.length <= 9) {
              return 'Decent';
            }
            if (this.password.length >= 10) {
              return 'Strong';
            }
          },
          passwordStrengthPercentage: function () {
            if (this.password.length <= 5) {
              return 0
            }
            else if (this.password.length <= 9) {
              return 50;
            }
            else {
              return 100;
            }
          },
          passwordIsValid: function () {
            if (this.password.length >= 6) {
              return true;
            }
            else {
              return false;
            }
          }
        }
      });
    </script>
  </body>
</html>
